#[keyboard]
#comma=["switch", "s_flipper_left"]
#period=["switch", "s_flipper_right_lower"]
#1=["switch", "s_sling_right"]
#2=["switch", "s_sling_left"]
#3=["switch", "s_bumper_lower"]
#4=["switch", "s_bumper_upper"]
#5=["switch", "s_inlane_right_1"]
#6=["switch", "s_inlane_right_2"]
#7=["switch", "s_inlane_left"]
#enter=["switch", "s_start"]

[sound_system]
music={"type": "solo"}
effects={"type": "simultaneous", "simultaneous_sounds": 3, "default": true}
voice={"type": "sequential"}